{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Snacks</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class='container'>
            <section id='a'>
                <header>
                    <nav>
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'snack_create' %}">Create Snack</a>
                    </nav>          
                </header>
            </section>
            <section id='b'>
                <h1>SNACKS!</h1>
            </section>
            </section>
            <section id='c'></section>
            <section id='d'>
                {% block content %}
                <!-- Anything inside this will be replaced by our other templates-->
                {% endblock content %}
            </section>
            <section id='e'></section>
            <section id='f'>
                <p>Created by Anthony Beaver, 401 Python Code Fellows</p>
            </section>
        </div>
    </body>
</html>