{% extends 'base.html' %}
{% block content %}
    <h1 class='block-h1'>Add A SNACK!</h1>
    <div class='snacks'>
        <h2>Enter Snack Info Here:</h2> <!-- Replace Snack with your model -->
        <form id='create' action="" method="POST">
            {% csrf_token %} <!-- Security token! Always add this to protect from Csrf attacks-->
            {{ form.as_p }} <!-- .as_p = Form is rendering as a paragraph -->
            <input id='submit' type='submit' value='SAVE'>
        </form>
    </div>
{% endblock content %}
